doctype html
html
    head
        meta( charset="utf-8" )
        meta( name="description" content="" )
        meta( name="viewport" content="width=device-width" )
        link( rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" )
        link( rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css" )
        link( rel="stylesheet" href="components/ngDialog/css/ngDialog.css" )
        link( rel="stylesheet" href="components/ngDialog/css/ngDialog-theme-default.css" )
        link( rel="stylesheet" href="components/animate.css/animate.css" )

        //- inject:css
        //- endinject

    body(
    )

        div(
            ui-view
        )

        script( type="text/javascript" src="components/jquery/dist/jquery.min.js" )
        script( type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js" )
        script( type="text/javascript" src="components/angular/angular.js" )
        script( type="text/javascript" src="components/angular-translate/angular-translate.js" )
        script( type="text/javascript" src="components/angular-filter/dist/angular-filter.min.js" )
        script( type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.js" )
        script( type="text/javascript" src="components/ui-router-extras/release/ct-ui-router-extras.js" )
        script( type="text/javascript" src="components/pubnub/dist/web/pubnub.js" )
        script( type="text/javascript" src="components/pubnub-angular/dist/pubnub-angular.js" )

        //- inject:js
        //- endinject

        script( type="text/javascript" ).
            angular.element(document).ready( function() {
                angular.bootstrap(document, [ 'app' ]);
            })
